h3
{
font-size: 25px !important;
}

.btn-success:hover
{background-color: mediumvioletred;}

canvas
{
animation-name: example;
animation-duration: 5s;
animation-iteration-count: infinite;
}

@keyframes example
{
from{box-shadow: 10px 10px 60px blue;}
to{box-shadow: 10px 10px 60px blueviolet;}
}